$black: #000000;
$light-black: #333333;
$white: #ffffff;
$blue: #81b3d2;
$blue-line: #010101;
$dark-blue: #669ec0;
$dark-dark-blue: #5496bd;
$blue-hover: #669ec0;
$blue-down: #5496bd;
$light-grey: #eeeeee;
$grey: #f2f2f2;
$grey-icon: #e6e6e6;
$very-light-grey: #e7e5e5;
$light-grey-active: #eaeaea;
$grey-checked: #d5d5d5;
$grey-hover: #e5e5e5;
$grey-stick:#dbdbdb;
$video-button-grey: #5c6870;
$brown: #766458;
$light-brown: #766357;
$dark-brown: #604e43;
$default-font: "PT sans", "Arial", sans-serif;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width: 320px;
